<h1>Thêm môn học</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
Tên môn học<br>

<input name="title"value="{{ mymember.title }}">
<br><br>

<br>điểm hs1<br>
<input name="hs11" value=0.0>
<input name="hs12" value=0.0>
<input name="hs13" value=0.0>
<input name="hs14" value=0.0>
<br><br>

<br>điểm GK<br>
<input name="GK" value=0.0>
<br><br>

<br>điểm CK<br>
<input name="CK" value=0.0>
<br><br>

<br>Mục tiêu <br>
<input name="GOAL" value=0.0>
<br><br>

<input type="submit" value="Submit">
</form>