<h1>Update Article</h1>

<form action="updaterecord/{{ mymember.id }}" method="post">
{% csrf_token %}
Tên môn học<br>

<input name="title"value="{{ mymember.title }}">
<br><br>

<br>điểm hs1<br>
<input name="hs11" value="{{ mymember.hs11 }}">
<input name="hs12" value="{{ mymember.hs12 }}">
<input name="hs13" value="{{ mymember.hs13 }}">
<input name="hs14" value="{{ mymember.hs14 }}">
<br><br>

<br>điểm GK<br>
<input name="GK" value="{{ mymember.GK }}">
<br><br>

<br>điểm CK<br>
<input name="CK" value="{{ mymember.CK }}">
<br><br>

<br>Mục tiêu <br>
<input name="GOAL" value="{{ mymember.CK }}">
<br><br>

<input type="submit" value="Submit">
</form>